@model MyFirstMVCApplication.Models.DeveloperInformation

@{
    ViewBag.Title = "Developer Information";
}

<h2>Developer Information</h2>
<div>
    <h4>DeveloperInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
